@font-face {
    font-family: "Tan";
    src: url("Tan/TAN-PEARL.woff2") format("woff2"),
        url("Tan/TAN-PEARL.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: url("./Gilroy/SVN-GilroyBoldItalic.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroyBoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("./Gilroy/SVN-GilroyBlack.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroyBlack.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("./Gilroy/SVN-GilroyBlackItalic.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroyBlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("./Gilroy/SVN-GilroyBold.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroyBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("./Gilroy/SVN-GilroyHeavyItalic.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroyHeavyItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("./Gilroy/SVN-GilroyHeavy.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroyHeavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("./Gilroy/SVN-GilroyItalic.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroyItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("./Gilroy/SVN-GilroyLightItalic.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroyLightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("./Gilroy/SVN-GilroyLight.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroyLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("./Gilroy/SVN-GilroyMediumItalic.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroyMediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("./Gilroy/SVN-GilroyMedium.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroyMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("./Gilroy/SVN-Gilroy.woff2") format("woff2"),
        url("./Gilroy/SVN-Gilroy.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("./Gilroy/SVN-GilroySemiBoldItalic.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroySemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("./Gilroy/SVN-GilroySemiBold.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroySemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("./Gilroy/SVN-GilroyThinItalic.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroyThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("./Gilroy/SVN-GilroyThin.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroyThin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy XBold";
    src: url("./Gilroy/SVN-GilroyXBoldItalic.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroyXBoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy XBold";
    src: url("./Gilroy/SVN-GilroyXBold.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroyXBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy XLight";
    src: url("./Gilroy/SVN-GilroyXLightItalic.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroyXLightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy XLight";
    src: url("./Gilroy/SVN-GilroyXLight.woff2") format("woff2"),
        url("./Gilroy/SVN-GilroyXLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
